{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/audioplayer.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- header-start -->
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <img src="{% static 'home/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="{% url 'home' %}">home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'tracks' %}">tracks</a></li>
                                        <li><a href="{% url 'blog' %}">Blog</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
{#                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">#}
{#                            <div class="social_icon text-right">#}
{#                                <ul>#}
{#                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>#}
{#                                    <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>#}
{#                                    <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->


{% block content %}{% endblock %}


<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Services
                        </h3>
                        <div class="subscribe-from">
                            <form action="#">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                        <p class="sub_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 offset-xl-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contact Me
                        </h3>
                        <ul>
                            <li><a href="#">conbusi@support.com
                            </a></li>
                            <li><a href="#">+10 873 672 6782
                            </a></li>
                            <li><a href="#">600/D, Green road, Kings Garden NewYork-6732</a></li>
                        </ul>

                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/img/icon/facebook_icon-icons.com_59205.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/img/icon/1491579542-yumminkysocialmedia22_83078.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/img/icon/1491580635-yumminkysocialmedia26_83102.png' %}" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="{% static 'home/img/icon/1491580651-yumminkysocialmedia28_83061.png' %}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->

<!-- link that opens popup -->

<!-- JS here -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous">
</script>
<script src="{% static 'home/js/vendor/modernizr-3.5.0.min.js' %}"></script>
<script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'home/js/ajax-form.js' %}"></script>
<script src="{% static 'home/js/waypoints.min.js' %}"></script>
<script src="{% static 'home/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'home/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'home/js/audioplayer.js' %}"></script>
<script src="{% static 'home/js/scrollIt.js' %}"></script>
<script src="{% static 'home/js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'home/js/wow.min.js' %}"></script>
<script src="{% static 'home/js/nice-select.min.js' %}"></script>
<script src="{% static 'home/js/jquery.slicknav.min.js' %}"></script>
<script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'home/js/plugins.js' %}"></script>
<script src="{% static 'home/js/gijgo.min.js' %}"></script>
<script src="{% static 'home/js/slick.min.js' %}"></script>
<!--contact js-->
<script src="{% static 'home/js/contact.js' %}"></script>
<script src="{% static 'home/js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'home/js/jquery.form.js' %}"></script>
<script src="{% static 'home/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'home/js/mail-script.js' %}"></script>

<script src="{% static 'home/js/main.js' %}"></script>

<script>
    $(function () {
        $('audio').audioPlayer({});
    });
</script>
</body>

</html>